* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    outline: none;
}

body {
    background: linear-gradient(126deg, rgba(0, 209, 142, 1) 0%, rgba(0, 172, 209, 1) 50%, rgba(0, 67, 209, 1) 100%) no-repeat;
    height: 100vh;
}

#container {
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translateX(-50%);
    width: 65vw;
    height: 75vh;
    padding: 2%;
    overflow: auto;
}

#card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.fact {
    background-color: aliceblue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 12rem;
    width: 370px;
    margin: 9px;
    padding: 20px;
}

.fact div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fact div p {
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px 20px;
    height: 6rem;
}

.fact div p:before, .fact div p:after {
    content: '"';
    font-weight: 900;
}

.fact div em {
    margin-left: 11rem;
    padding: 10px;
}

.fact input[name=stock] {
    visibility: hidden;
    cursor: pointer;
}

.fact input[name=stock]:before {
    content: url(../img/line-heart.svg);
    visibility: visible;
}

.fact input[name=stock]:checked:before {
    content: url(../img/heart.svg);
}

.type-animal {
    display: flex;
}

.type-animal label, #value, #search, #stockage, #delete, .text {
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: inline;
    font-weight: 900;
}

.text {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: inherit;
}

.text img {
    width: 30px;
    margin-right: 10px;
}

p {
    margin-top: 3px;
}

.type-animal label:hover {
    background-color: white;
}

#search:hover {
    background-color: rgba(0, 209, 142, 0.75);
    color: white;
}

#stockage:hover {
    background-color: rgba(255, 223, 60, 0.75);
    color: white;
}

#delete:hover {
    background-color: rgba(231, 8, 0, 0.75);
    color: white;
}

.type-animal label:hover {
    transform: scale(1.1);
}

input[name=animal_type] {
    display: none;
}

.fact div p::-webkit-scrollbar, #container::-webkit-scrollbar {
    width: 6px;
}

.fact div p::-webkit-scrollbar-thumb, #container::-webkit-scrollbar-thumb {
    background-color: rgb(205, 205, 205);
    border-radius: 3px;
}

#layout {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.search {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

.search div {
    display: flex;
    border: inherit;
}

#slider {
    appearance: none;
    background: rgba(255, 255, 255, 0.75);
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
}

#slider::-webkit-slider-thumb {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    appearance: none;
}

#slider::-webkit-slider-thumb:hover {
    background-color: rgba(0, 209, 142, 0.75);
}

#slider::-webkit-slider-thumb:active {
    background-color: rgba(0, 209, 142, 0.75);
    outline: none;
}

#delete {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

#loader div:nth-child(1) {
    animation-delay: -0.45s;
}

#loader div:nth-child(2) {
    animation-delay: -0.3s;
}

#loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
}

h3:after {
    content: url(../img/heart.svg);
    position: relative;
    top: 3px;
}

.title {
    font-size: 1.2rem;
}

.active-animal {
    background-color: rgba(0, 209, 142, 0.75) !important;
    color: white;
}